%h1 Home

= form_tag visualization_path, :class => "form-horizontal" do
	.control-group
		= label_tag "date", "Date", :class => "control-label"
		.controls
			= text_field_tag "date", "2013-04-01"
	.control-group
		= label_tag "event", "Event Type", :class => "control-label"
		.controls
			= text_field_tag "event", "PushEvent"
	.control-group
		= label_tag "visualization", "Visualizaiton", :class => "control-label"
		.controls
			= select_tag "visualization", "<option value='' disabled selected style='display:none;'>Select Visualization</option><option value=\"times\">Times</option><option value=\"locations\">Locations</option>".html_safe
	.control-group
		.controls
			= submit_tag "Submit", :class => "btn btn-warning"
